@charset "utf-8";

.no-js, .title-bar {
  display: none;
}

// Start promo
.start {
  background: url("/images/screenshots/Screenshot2.png");
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  padding: 10vh 0 80px;
  margin: 0 0 100px;
}

#backgroundVideo {
  z-index: -100;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.start::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  border-left: 2px solid rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  transform: rotate(-45deg);
}

.startbanner {
  h1,
  h2,
  h3,
  h4,
  p {
    color: #fff;
    padding-top: rem-calc(15px);
    //padding-left: rem-calc(15px);
  }
}

.download-wrapper {
  text-align: right;
  padding: 100px 100px 0 0;
}

.download-wrapper .download {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  font-size: 24px;
  padding: 12px 25px 12px 23px;
  transition: all 0.15s;
}

.download-wrapper .download:hover {
  background: #fff;
  color: #f08a24;
}

.text-center {
  text-align: center;
}

.section-icon {
  font-size: 4em;
}

.slider1 {
  padding: 5px 10px 0 10px;
}

.nav-pad {
  padding: 5px 10px 0 10px;
}

/* Mobile Padding for slider. Screens less than 600px = Most mobile devices. */
@media only screen and (max-width: 640px) {
  .slider1 {padding: 50px 0 0 0;}
  .nav-pad {padding: 50px 5px 0 5px;}
}

.alt-download {
  padding: 5px 0 0 0;
  background-color: lightcyan;
}

.alt-download h6 {
  color: black;
}

.source-download {
  padding: 5px 0 0 0;
  background-color: lightblue;
}

.source-download h6 {
  color: black;
}

.muted {
  color: grey;
}

footer li {
  font-size: 3em !important;
  padding: 0.2em;
}

footer {
  background: lightgrey;
  font-family: sans-serif;
  font-size: 15px;
  color: #1779ba;
  padding: 45px 0;
  width: 100%;
}

footer ul {
  line-height: 20px;
  font-size: 13px;
  list-style: none;
  margin-left: 0;
}