<footer>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="small-12 medium-4 cell">
        <strong>Cytopia</strong> is a free, opensource Citybuilding game focussing on moddability and our community.
      </div>
      <div class="medium-6 cell">
        <h4>Follow us</h4>
        <ul class="home-social">
          <li>
            <a href="https://github.com/JimmySnails/Cytopia" ><span class="fab fa-github"/></a>
            <a href="https://discord.gg/qwa2H3G"             ><span class="fab fa-discord"/></a>
            <a href="https://www.reddit.com/r/Cytopia/"      ><span class="fab fa-reddit"/></a>
            <a href="https://www.patreon.com/cytopia"        ><span class="fab fa-patreon"/></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/motion-ui@2/dist/motion-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/what-input@5/dist/what-input.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6/dist/js/foundation.min.js"></script>

<script>
    $(document).foundation();
</script>
