<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- Use title if it's in the page YAML frontmatter -->
<title>
  <%= current_page.data.title || "Cytopia, the free opensource citybuilding game" %>
</title>
<meta name="description" content="Cytopia, the free opensource citybuilding game">
<meta name="robots" content="index, follow">
<script="ga.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6/dist/css/foundation.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
<%= stylesheet_link_tag "style" %>
