<div data-sticky-container="data-sticky-container">
  <div class="no-js title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="main-menu"></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar" id="main-menu" data-sticky="data-sticky" data-options="marginTop:0;">
    <div class="top-bar-left hide-for-small-only">
      <ul class="menu">
        <img src="/images/app_icons/cytopia_icon_iso.png" style="height: 2.5em;">
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">

        <% data.menulinks.each do |entry| %>
          <li>
            <a class="main-menu-mobile-text" href="<%= entry.url %>">
              <span class="show-for-large <%= entry.icon %>"></span>
              <span class="nav-entry-text"><%= entry.name %>
              </span>
            </a>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>