<meta charset="utf-8"/>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- Use title if it's in the page YAML frontmatter -->
<title>
  Cytopia, the free opensource citybuilding game
</title>
<meta name="description" content="Cytopia, the free opensource citybuilding game">
<meta name="robots" content="index, follow">

<script src="https://cdn.jsdelivr.net/combine/npm/jquery@3,npm/foundation-sites@6,npm/what-input@5"></script>
<script src="https://kit.fontawesome.com/8e4b104fb5.js" crossorigin="anonymous"></script>
<link href="/stylesheets/style.css" rel="stylesheet">