;;;
"title": "Learn More - Core Development"
;;;
<div class="grid-container std-height">
    <div class="grid-x grid-padding-x nav-pad">
        <div class="large-12 cell">
            <h1>Learning more about Core Development</h1>
            <p>The Core Development Team works on the game and any associated projects related to the game. They mostly </p>
        </div>
        <div class="medium-6 cell">
            <h5>Requirements</h5>
            <p>Here are some base guidelines for contributing</p>
        </div>
    </div>
</div>

