;;;
Donate to the Cytopia project
;;;
<div class="grid-container">
    <div class="grid-x grid-padding-x nav-pad">
        <div class="medium-6 cell">
            <h1> Donate to the Cytopia project </h1>
            <p> As an open-source project, Cytopia and the team behind it rely on donations to keep developing the game. If you are able to, we strongly encourage you to donate. If you are unable to donate money to the project you can still donate your time and skillset to the project.</p>
        </div>
        <div class ="medium-6 cell text-center">
            <img class="small-image" src="images/annie-spratt-TBHOuN6URGU-unsplash.jpg">
        </div>
        <div class="medium-6 cell">
            <h3>Where does my donation go?</h3>
            <p>Donations go towards a variety of things, some of which are highlighted below</p>
            <ul>
                <li>Software Purchases</li>
                <li>Hosting Costs</li>
                <li>Marketing Costs</li>
            </ul>
        </div>
        <div class="medium-6 cell text-center">
            <a class="button large warning" href="https://www.patreon.com/cytopia"><i class="fas fa-donate"></i> Make A Donation Today</a>
        </div>
    </div>
</div>
