;;;
"title": "Download Cytopia"
;;;
<div class="grid-container content-div">
  <div class="grid-x grid-padding-x nav-pad">
    <div class="large-12 cell">
        <div class="callout small alert nav-pad">
            <h6><b>Pre-Release Alert:</b></h6>
            <p>Just a heads-up, Cytopia is still in pre-release stages. You may encounter game breaking issues and your device may become unresponsive. If you are not willing to help test our game, we ask that you please refrain from installing it at this time.</p>
        </div>
    </div>
    <div class="medium-6 cell">
        <h1 id="download" class="text-center">Download Cytopia</h1>
        <p> Users have a few ways to download and play Cytopia. Users can select between three (3) options: Using the itch.io launcher, a direct download from itch.io and the ability to directly download from Github or build from source.</p>
    </div>
    <div class="medium-6 cell">
        <div class="callout text-center">
            <h5><b>Main Download</b></h5>
            <h4 class="muted"><i class="fab fa-windows"></i>&nbsp;<i class="fab fa-linux"></i>&nbsp;<i class="fab fa-apple"></i></h4>
            <p>Download Cytopia using the itch.io launcher</p>
            <a class="button primary" href="itchio://install/421507"> <i class="fa fa-download" aria-hidden="true"></i> Download</a>
            <h6 class="subheader"> Link will open in the itch.io launcher. <a href="https://itch.io/app"> Download it here</a> if you don't have it already</h6>
            <div class="cell alt-download">
                <h6 class="subheader"><b> <i class="fa fa-link" aria-hidden="true"></i> Direct Link</b></h6>
                <h5 class="muted"><i class="fab fa-windows"></i>&nbsp;<i class="fab fa-linux"></i>&nbsp;<i class="fab fa-apple"></i></h5>
                <a href="https://cytopia.itch.io/cytopia">Direct Download from itch.io</a>
            </div>
            <div class="cell source-download">
                <h6 class="subheader"><b><i class="fa fa-wrench" aria-hidden="true"></i> Build from source</b></h6>
                <h5 class="muted"><i class="fab fa-windows"></i>&nbsp;<i class="fab fa-linux"></i>&nbsp;<i class="fab fa-apple"></i></h5>
                <a href="https://github.com/CytopiaTeam/Cytopia/releases">Build or download directly from Github</a>
            </div>
        </div>
    </div>
  </div>
</div>
