;;;
"title": "Download Cytopia"
;;;

<style>
  html {
    height: 100%;
  }

  body {
    background: url("<%= config[:CDN] %>/images/screenshots/Screenshot2_blur.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }

  .center {
    text-align: center;
  }

  .content-div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2em;
    height: 100%;
    width: 75rem;
  }
</style>

<div class="grid-container content-div">
  <h1 id="download" class="center">Download Cytopia</h1>

  <table style="margin-top: 2em">
    <thead>
    <tr>
      <th class="center ror-color">
        <h2>Step 1</h2>
      </th>
      <th class="center ror-color">
        <h2>Step 2</h2>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="center">
        Download an install the
        <span data-tooltip="data-tooltip" aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex="1" title="itch.io is a simple way to find and share indie games online for free.">
            itch.io desktop app
          </span>
        <br>
        <br>
        <a href="https://itch.io/app" class="show-for-medium large button">
          Download the itch.io desktop app
        </a>
        <a href="https://itch.io/app" class="show-for-small-only expanded button">
          Download the itch.io desktop app
        </a>
      </td>
      <td class="center">
        Click the button below to install Cytopia using the itch.io desktop app
        <br>
        <br>
        <a href="itchio://install/421507" class="show-for-medium large button">
          Install Cytopia
        </a>
        <a href="itchio://install/421507" class="show-for-small-only expanded button">
          Install Cytopia
        </a>
      </td>
    </tr>
    </tbody>
  </table>

  <h2 id="overview-readme-faq">Alternative downloads</h2>
  <p>
    Cytopia can also be downloaded directly from the itch page: <a href="https://cytopia.itch.io/cytopia">https://cytopia.itch.io/cytopia</a><br>
    Or from the GitHub release page: <a href="https://github.com/CytopiaTeam/Cytopia/releases">https://github.com/CytopiaTeam/Cytopia/releases</a>
  </p>
</div>
