;;;
"title": "Get Involved"
;;;
<div class="grid-container">
    <div class="grid-x grid-padding-x nav-pad">
        <div class="large-12 cell">
            <h1>Get Involved With The Cytopia Project</h1>
            <p>We have a variety of ways for individuals to get involved with the Cytopia project. Those looking to contribute can help refactor code, provide technical support, create new graphics or even help with documentation.</p>
        </div>
<!--- Card views for each way to get involved -->
        <div class="medium-6 cell">
            <div class="card card-borderless">
                <div class="card-section">
                    <h3 class="card-header"><i class="fas fa-cogs"></i> Core Development Team</h3>
                    <p>The core development team works on the core functionalities of the game. They are quite literally the bread and butter of the entire project. Without them, there would be no Cytopia!</p>
                    <a class="button disabled hollow" href="/teams/core">Learn More <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="medium-6 cell">
            <div class="card card-borderless">
                <div class="card-section">
                    <h3 class="card-header"><i class="fas fa-paint-brush"></i> Graphics Team</h3>
                    <p>The graphics team creates all of the graphics you see in Cytopia and on Cytopia.net, just like the core team they are an essential part of the production process</p>
                    <a class="button disabled hollow" href="/teams/graphics.html">Learn More <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="medium-6 cell">
            <div class="card card-borderless">
                <div class="card-section">
                    <h3 class="card-header"> <i class="fas fa-code"></i> Web Development Team</h3>
                    <p>The web development team develops and maintains the website or any other online services that are essential to Cytopia's development life cycle.</p>
                    <a class="button disabled hollow" href="/teams/webdev.html">Learn More <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="medium-6 cell">
            <div class="card card-borderless">
                <div class="card-section">
                    <h3 class="card-header"><i class="fas fa-language"></i> l10n Team</h3>
                    <p>The localization team works on translating Cytopia to other languages. If you know another language other than English, we welcome you to join the localization team!</p>
                    <a class="button disabled hollow" href="/teams/localization.html">Learn More <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="medium-6 cell">
            <div class="card card-borderless">
                <div class="card-section">
                    <h3 class="card-header"><i class="fas fa-music"></i> Audio Engineering Team</h3>
                    <p>The audio engineering team is responsible for creating all of the sound effects and music in Cytopia. If you are handy with a synthesizer then you should come work with us!</p>
                    <a class="button disabled hollow" href="/teams/audio.html">Learn More <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="medium-6 cell">
            <div class="card card-borderless">
                <div class="card-section">
                    <h3 class="card-header"><i class="fas fa-comments"></i> Marketing Team</h3>
                    <p>The marketing team is responsible for spreading the word about Cytopia. They make use of social media, the website and word of mouth to let people know how awesome Cytopia is!</p>
                    <a class="button disabled hollow" href="/teams/marketing.html">Learn More <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>