<div class="start">
  <div class="grid-container">
    <section class="section-dl">
      <div class="grid-x">
        <div class="large-12 cell">
          <div class="grid-x">
            <div class="large-5 cell startbanner">
              <img src="/images/app_icons/logo_big_textured.png">
              <h4 class="slogan">The opensource Citybuilding game</h4>
            </div>
          </div>
          <div class="download-wrapper">
            <a class="button download" href="https://github.com/JimmySnails/Cytopia/releases">
              <span class="fa fa-download">
              </span> Download
              <br></a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="grid-container">
	<!-- Featured -->
	<div class="grid-x text-center">
		<div class="cell">
			<h2>Welcome to Cytopia</h2>
			<p>This is
				<strong>Cytopia</strong>, a free, opensource Citybuilding game focussing on moddability and our community.</p>
		</div>
	</div>
	<hr/>
	<div class="grid-x text-center">
		<div class="cell small-4 small-centered">
			<span class="section-icon">
				<i class="fab fa-github"></i>
			</span>
			<h3>Open Source</h3>
			<p>Our repository is hosted on github. Take a look at what's going on.</p>
			<a href="https://github.com/JimmySnails/Cytopia" class="button button-style1">Github Project</a>
		</div>
		<div class="cell auto small-centered">
			<span class="section-icon">
				<i class="fab fa-discord"></i>
			</span>
			<h3>Join the Community</h3>
			<p>Join our discord server and participate on the development. Help us shape the game to be the city building simulation you've always wished for.</p>
			<a href="https://discord.gg/qwa2H3G" class="button button-style1">Discord Server</a>
		</div>
		<div class="cell auto small-centered">
			<span class="section-icon">
				<i class="fab fa-reddit"></i>
			</span>
			<h3>Reddit</h3>
			<p>Join our reddit community.</p>
			<a href="https://www.reddit.com/r/Cytopia/" class="button button-style1">Cytopia Subreddit</a>
		</div>

	</div>
	<hr>
	<!-- Main -->

	<div class="grid-x">

		<div class="grid-x grid-margin-x">
			<div class="cell medium-6" >
				<a href="#" class="image full"><img src="images/screenshots/pic01.png" alt=""></a>
				<header>
					<h2>Terrain editing</h2>
				</header>
				<p>Our tilebased approach supports multiple height leves.</p>
			</div>
			<div class="cell medium-6" >
				<a href="#" class="image full"><img src="images/screenshots/pic02.png" alt=""></a>
				<header>
					<h2>Original graphics</h2>
				</header>
				<p>All of Cytopias sprites have been designed by our graphics artists.</p>
			</div>
		</div>

		<div class="grid-x grid-margin-x">
			<div class="cell medium-6" >
				<a href="#" class="image full"><img src="images/screenshots/pic03.png" alt=""></a>
				<header>
					<h2>Custom UI</h2>
				</header>
				<p>A JSON based approach that allows easy modification of the UI Layout.</p>
			</div>
			<div class="cell medium-6" >
				<a href="#" class="image full"><img src="images/screenshots/pic04.png" alt=""></a>
				<header>
					<h2>Tile Editor</h2>
				</header>
				<p>A tile editor, written in QT to allow you to easily add new sprites or edit existing ones.</p>
			</div>
		</div>

	</div>
</div>
